@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
    margin: 0;
    background-color: rgb(228, 238, 250);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
